In [1]:
import os
print(os.getcwd())

/workspaces/EspecMiguel/Trabajo Final

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv('../datos/Estudiantes.csv', sep = ';')
df.head()

,COLE_SEDE_PRINCIPAL,ESTU_COD_DEPTO_PRESENTACION,ESTU_COD_MCPIO_PRESENTACION,ESTU_COD_RESIDE_DEPTO,ESTU_COD_RESIDE_MCPIO,ESTU_DEPTO_PRESENTACION,ESTU_DEPTO_RESIDE,ESTU_ESTADOINVESTIGACION,ESTU_ESTUDIANTE,ESTU_FECHANACIMIENTO,...,FAMI_TIENEAUTOMOVIL,FAMI_TIENECOMPUTADOR,FAMI_TIENEINTERNET,FAMI_TIENELAVADORA,PUNT_INGLES,PUNT_MATEMATICAS,PUNT_SOCIALES_CIUDADANAS,PUNT_C_NATURALES,PUNT_LECTURA_CRITICA,PUNT_GLOBAL
0,S,76,76001,76.0,76001.0,VALLE,VALLE,PUBLICAR,ESTUDIANTE,25/03/1998,...,No,Si,Si,Si,52.0,34,32,41,44,194
1,S,73,73001,73.0,73001.0,TOLIMA,TOLIMA,PUBLICAR,ESTUDIANTE,21/11/1998,...,Si,Si,Si,Si,47.0,47,46,52,58,252
2,S,11,11001,11.0,11001.0,BOGOTÁ,BOGOTÁ,PUBLICAR,ESTUDIANTE,24/01/2000,...,Si,Si,Si,Si,87.0,79,74,77,71,381
3,S,52,52001,52.0,52001.0,NARIÑO,NARIÑO,PUBLICAR,ESTUDIANTE,19/09/2001,...,Si,Si,Si,Si,81.0,81,66,75,73,372
4,S,25,25899,25.0,25175.0,CUNDINAMARCA,CUNDINAMARCA,PUBLICAR,ESTUDIANTE,14/03/1998,...,No,No,No,Si,45.0,36,32,39,46,194